#menu table{
    width: 100%;
}
#menu table tr td{
    height: 100px;
    background: #000;
    vertical-align: bottom;
    text-align: right;
}
#menu table tr td hr{
    width: 250px;
}
#main-content{
    width: 100%;
    min-height: auto;
}
.kiri table{
    width: 100%;
}